* {
    margin: 0;
    padding: 0;
    /*text-decoration: none;*/
    /*color: inherit;*/
}

:root{

    --header-color: #E0AFA0;
    --main-color: #E6E5DF;
    --button-color: #463F3A;
    --start-button-color: #86deb7;
    --stop-button-color: #d81159;


    --header-height: 5rem;
    --main-height: calc(100vh - var(--header-height));
}