* {
    margin: 0;
    padding: 0;
    /*text-decoration: none;*/
    /*color: inherit;*/
}

:root{

    --header-color: #E0AFA0;
    --main-color: #E6E5DF;
    --disabled-color: #D2D1CB;
    --button-color: #463F3A;

    --start-button-color: #86deb7;
    --success-color: #329745;
    --stop-button-color: #d81159;
    --stop-button-color-60: #da849f;
    --registr-button-color: #FFCF99;


    --header-height: 5rem;
    --main-height: calc(100vh - var(--header-height));
}